.fullscreen-menu {
  position: fixed;
  top: -250%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: map-get($colors, background-1);
  display: flex;
  transition: top 0.5s ease;
  z-index: 1000; /* Ensure it covers other content */

  &.show {
    top: 0;
  }

  &__sidebar {
    width: 510px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding-block-start: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .sidebarIcons {
      display: flex;
      gap: 1rem;
      width: 100%;
      align-items: center;
      padding-left: 15rem;

      .fullscreen-menu__close-icon {
        max-width: 48px;
        margin-bottom: 48px;
        cursor: pointer;
      }

      .fullscreen-menu__logo {
        max-width: 48px;
        margin-bottom: 48px;
        cursor: pointer;
      }
    }
  }

  &__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
      padding-left: 7rem;
      align-items: center;
      display: flex;
      position: relative;
      align-self: center;
      padding-block: 9px;
      gap: 1rem;
      width: 310px;
      @include typography(h4);
      margin-block-end: 10px;
      cursor: pointer;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 200%;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        z-index: -2;
      }

      &:hover:before {
        right: 0;
      }
      &:before {
        background: map-get($colors, blue-xlight);
      }
    }
  }

  &__themes {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    width: 100%;

    .themeWrapper {
      width: 220px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      p {
        @include typography(p-large);
        color: map-get($colors, text-l);
        padding-inline: 8px;
      }
      .line {
        border-top: 1px solid map-get($colors, text-2);
        width: 100%;
      }
    }
    .themeList {
      list-style: none;

      li {
        cursor: pointer;
        padding-inline: 7rem;
        width: 200px;
        padding-block: 15px;
        cursor: pointer;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          right: 200%;
          width: 100%;
          height: 100%;
          transition: 0.5s;
          z-index: -2;
        }

        &:hover:before {
          right: 0;
        }
        &:before {
          background: map-get($colors, blue-xlight);
        }
      }
    }
  }

  &__grid {
    width: 1410px;
    display: grid;
    grid-template-columns: repeat(3, 470px);

    div {
      border: 1px solid map-get($colors, background-3);
      height: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;

      &:hover {
        background-image: url("../../public/menuimage/hover.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    img {
      max-width: 100%;
      height: auto;
      transition: transform 0.3s ease;
    }
  }

  @include media-md {
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: -250%;
    overflow: auto;

    &__sidebar {
      box-shadow: none;
      width: 100%;
      align-items: start;
      overflow: unset;
      .sidebarIcons {
        padding-inline: 1rem;
      }
    }

    &__nav {
      padding-inline: 1rem;
      margin-block-start: -20px;

      li {
        padding-left: 0;
        @include typography(h4-mobile);

        &:before {
          display: none;
        }
      }
    }

    &__themes {
      padding-top: 2rem;
      width: 100%;
      .themeWrapper {
        width: unset;
        justify-content: flex-start;
        .line {
          width: 16px;
        }
      }

      .themeList {
        padding-inline-start: 0;
        padding-block-end: 40px;

        li {
          padding-inline-start: 1rem;

          &:before {
            display: none;
          }
        }
      }
    }

    &__grid {
      width: 100%;
      grid-template-columns: 1fr;

      div {
        border: 1px solid map-get($colors, blue-xlight);
      }
    }
  }
}
