.navbar {
  height: 100vh;

  &__nav {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: map-get($colors, "text-1");
    height: 80px;
    background-color: rgba(map-get($colors, background-1), 0.5);
    backdrop-filter: blur(5px);
    z-index: 1000;
  }

  &__logo {
    width: 48px;
    height: 48px;
  }

  &__navIcons {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__close {
    margin-left: 5rem;
  }

  &__navCategory {
    button {
      background-color: transparent;
      border: none;
      @extend %flex-columns;
      gap: 0.2rem;
      span {
        @include typography(label-small);
      }
    }
  }

  &__logoCategory {
    width: 40px;
    height: 33px;
  }

  &__links {
    display: flex;
    list-style: none;
    gap: 3rem;
    white-space: nowrap;

    li {
      cursor: pointer;
      @include typography(common-p);
      &:hover {
        color: map-get($colors, "brand-blue");
      }
    }
  }

  &__icons {
    list-style: none;
    display: flex;
  }

  &__linkLogo {
    padding-bottom: 5px;
  }

  &__linkContainer {
    display: flex;
    flex-direction: column;
    width: 72px;
    align-items: center;
    gap: 5px;

    img {
      width: 24px;
      height: 24px;
      @include typography(label-small);
    }

    span {
      @include typography(label-small);
      cursor: default;
      &:hover {
        color: map-get($colors, "brand-blue");
      }
    }
  }

  .video {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    .videoInfos {
      display: flex;
      justify-content: center;
      gap: 9rem;
      margin-top: -25rem;
    }

    &__frame {
      background-color: map-get($colors, text-3);
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
    &__title {
      @include typography(desktop);
      color: map-get($colors, background-1);
      width: 1340px;
      cursor: default;
    }

    &__iconsWrapper {
      display: flex;
      align-items: end;
      gap: 2rem;
    }

    .soundBtn {
      width: 80px;
      height: 80px;
      background-image: url("../../public/soundButton.svg");
      &:hover {
        background-image: url("../../public/hoverSound.png");
      }
    }

    .downloadBtn {
      width: 64px;
      height: 64px;
      background-image: url("../../public/download.svg");
      &:hover {
        background-image: url("../../public/downloadHover.png");
      }
    }
  }

  &__scrollWrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;

    span {
      @include typography(p-large-regular);
      color: map-get($colors, "background-1");
      cursor: default;
    }
    img {
      padding-inline-end: 2rem;
      width: 24px;
      height: 24px;
    }
  }

  @include media-md {
    height: 100%;
    &__nav {
      gap: 2rem;
    }

    .video {
      padding-bottom: 1rem;
      gap: 1rem;

      &__frame {
        background-color: map-get($colors, text-3);
        height: 375px;
        margin-top: 80px;
      }

      &__title {
        width: fit-content;
        @include typography(h1-mobile);
        color: map-get($colors, text-1);
        padding-left: 1rem;
        order: 2;
      }

      &__iconsWrapper {
        align-self: end;
        gap: 1rem;
        order: 1;
        margin-top: -6rem;
        margin-bottom: 2rem;
        padding-inline-end: 1rem;

        .soundBtn {
          width: 64px;
          height: 64px;
          background-size: contain;
        }
        .downloadBtn {
          width: 48px;
          height: 48px;
          background-size: contain;
        }
      }

      .videoInfos {
        flex-direction: column;
        margin-top: 0;
        gap: 0;
      }
    }

    &__scrollWrapper {
      display: none;
    }
    &__links {
      display: none;
    }

    .search {
      display: none;
    }
  }
}
