@import "./variables";

.button {
  border-radius: 37px;
  border: 1px solid map-get($colors, "text-1");
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 40px;
  gap: 24px;
  transition: background-color 0.3s ease;
  width: fit-content;

  &:hover {
    border-color: map-get($colors, "brand-blue");
    color: map-get($colors, "brand-blue");

    .button__icon {
      transition: transform 0.3s ease;
      transform: translateX(5px);
      fill: map-get($colors, "brand-blue");
    }
  }

  &__text {
    margin-left: 5px;
    margin-right: 5px;
    text-wrap: nowrap;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}
