@import "./variables";

.button {
  height: 20px;
  border-radius: 37px;
  border: 1px solid map-get($colors, "text-1");
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 20px;
  gap: 24px;
  transition: background-color 0.3s ease;
  width: fit-content;

  &:hover {
    border-color: map-get($colors, "brand-blue");
    color: map-get($colors, "brand-blue");
  }

  &__text {
    margin-left: 5px;
    margin-right: 5px;
  }

  &__icon {
    width: 16px; // Assuming the icon size is 16x16px
    height: 16px;

    &:hover {
      color: map-get($colors, "brand-blue");
    }
  }
}
