.button, .gift-container__secondCard button {
  border-radius: 37px;
  border: 1px solid #000000;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 40px;
  gap: 24px;
  transition: background-color 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
}
.button:hover, .gift-container__secondCard button:hover {
  border-color: #006cb7;
  color: #006cb7;
}
.button__text {
  margin-left: 5px;
  margin-right: 5px;
}
.button__icon {
  width: 24px;
  height: 24px;
}
.button__icon:hover {
  color: #006cb7;
}

.navbar {
  height: 100vh;
}
.navbar__nav {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  color: #000000;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.navbar__logo {
  width: 48px;
  height: 48px;
}
.navbar__navIcons {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar__close {
  margin-left: 5rem;
}
.navbar__navCategory button {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}
.navbar__navCategory button span {
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
}
.navbar__logoCategory {
  width: 40px;
  height: 33px;
}
.navbar__links {
  display: flex;
  list-style: none;
  gap: 3rem;
  white-space: nowrap;
}
.navbar__links li {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}
.navbar__links li:hover {
  color: #006cb7;
}
.navbar__icons {
  list-style: none;
  display: flex;
}
.navbar__linkLogo {
  padding-bottom: 5px;
}
.navbar__linkContainer {
  display: flex;
  flex-direction: column;
  width: 72px;
  align-items: center;
  gap: 5px;
}
.navbar__linkContainer img {
  width: 24px;
  height: 24px;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
}
.navbar__linkContainer span {
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  cursor: default;
}
.navbar__linkContainer span:hover {
  color: #006cb7;
}
.navbar .video {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.navbar .video .videoInfos {
  display: flex;
  justify-content: center;
  gap: 9rem;
  margin-top: -25rem;
}
.navbar .video__frame {
  background-color: #808080;
  width: 100%;
  height: 100vh;
}
.navbar .video__title {
  font-size: 80px;
  font-weight: 400;
  line-height: 100px;
  color: #ffffff;
  width: 1340px;
  cursor: default;
}
.navbar .video__iconsWrapper {
  display: flex;
  align-items: end;
  gap: 2rem;
}
.navbar .video__downloadIcon {
  width: 64px;
  height: 64px;
}
.navbar__scrollWrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}
.navbar__scrollWrapper span {
  font-size: 20px;
  font-weight: 400;
  line-height: 38px;
  color: #ffffff;
  cursor: default;
}
.navbar__scrollWrapper img {
  padding-inline-end: 2rem;
  width: 24px;
  height: 24px;
}
@media screen and (max-width: 600px) {
  .navbar {
    height: 100%;
  }
  .navbar__nav {
    gap: 2rem;
  }
  .navbar .video {
    padding-bottom: 1rem;
    gap: 1rem;
  }
  .navbar .video__frame {
    background-color: #808080;
    height: 375px;
    margin-top: 80px;
  }
  .navbar .video__title {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 38px;
    font-weight: 400;
    line-height: 50px;
    color: #000000;
    padding-left: 1rem;
    order: 2;
  }
  .navbar .video__iconsWrapper {
    align-self: end;
    gap: 1rem;
    order: 1;
    margin-top: -6rem;
    margin-bottom: 2rem;
    padding-inline-end: 1rem;
  }
  .navbar .video__iconsWrapper .soundBtn {
    width: 64px;
    height: 64px;
  }
  .navbar .video__iconsWrapper .downloadBtn {
    width: 48px;
    height: 48px;
  }
  .navbar .video .videoInfos {
    flex-direction: column;
    margin-top: 0;
    gap: 0;
  }
  .navbar__scrollWrapper {
    display: none;
  }
  .navbar__links {
    display: none;
  }
  .navbar .search {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Poppins", sans-serif;
}

.fullscreen-menu {
  position: fixed;
  top: -150%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  transition: top 0.5s ease;
  z-index: 1000; /* Ensure it covers other content */
}
.fullscreen-menu.show {
  top: 0;
}
.fullscreen-menu__sidebar {
  width: 600px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding-block-start: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fullscreen-menu__sidebar .sidebarIcons {
  display: flex;
  gap: 1rem;
}
.fullscreen-menu__sidebar .sidebarIcons .fullscreen-menu__close-icon {
  max-width: 48px;
  margin-bottom: 48px;
  cursor: pointer;
}
.fullscreen-menu__sidebar .sidebarIcons .fullscreen-menu__logo {
  max-width: 48px;
  margin-bottom: 48px;
  cursor: pointer;
}
.fullscreen-menu__nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
.fullscreen-menu__nav li {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  margin-block-end: 10px;
  cursor: pointer;
}
.fullscreen-menu__themes {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  width: 100%;
}
.fullscreen-menu__themes .themeWrapper {
  width: 280px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.fullscreen-menu__themes .themeWrapper p {
  font-size: 20px;
  font-weight: 300;
  line-height: 38px;
}
.fullscreen-menu__themes .themeWrapper .line {
  border-top: 1px solid #525252;
  width: 100%;
}
.fullscreen-menu__themes .themeList {
  list-style: none;
  padding-inline-start: 200px;
}
.fullscreen-menu__themes .themeList li {
  margin: 5px 0;
  height: 48px;
  cursor: pointer;
}
.fullscreen-menu__grid {
  width: 1410px;
  display: grid;
  grid-template-columns: repeat(3, 470px);
}
.fullscreen-menu__grid div {
  border: 1px solid #e0e0e0;
  height: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.fullscreen-menu__grid div:hover {
  background-image: url("../../public/menuimage/hover.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.fullscreen-menu__grid img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
@media screen and (max-width: 600px) {
  .fullscreen-menu {
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: -250%;
    overflow: auto;
  }
  .fullscreen-menu__sidebar {
    box-shadow: none;
    width: 100%;
    align-items: start;
    overflow: unset;
  }
  .fullscreen-menu__sidebar .sidebarIcons {
    padding-inline: 1rem;
  }
  .fullscreen-menu__nav {
    padding-inline: 1rem;
    margin-block-start: -20px;
  }
  .fullscreen-menu__nav li {
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
  }
  .fullscreen-menu__themes {
    padding-top: 2rem;
    width: 100%;
  }
  .fullscreen-menu__themes .themeWrapper {
    width: unset;
    justify-content: flex-start;
  }
  .fullscreen-menu__themes .themeWrapper p {
    padding-inline: 8px;
  }
  .fullscreen-menu__themes .themeWrapper .line {
    width: 16px;
  }
  .fullscreen-menu__themes .themeList {
    padding-inline-start: 0;
  }
  .fullscreen-menu__themes .themeList li {
    padding-inline-start: 1rem;
  }
  .fullscreen-menu__grid {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .fullscreen-menu__grid div {
    border: 1px solid #bbdcf5;
  }
}

.gift-container {
  padding-block-start: 5rem;
}
.gift-container header {
  padding-inline: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-end: 4px;
}
.gift-container header p {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}
.gift-container__card {
  display: flex;
}
.gift-container__card.red {
  border-top: 1px solid #f3987a;
}
.gift-container__card.green {
  border-top: 1px solid #00963e;
}
.gift-container__card.blue {
  border-top: 1px solid #006cb7;
}
.gift-container__card.gray {
  border-top: 1px solid #e0e0e0;
}
.gift-container__card.dark {
  border-top: 1px solid #000000;
}
.gift-container__card.pink {
  border-top: 1px solid #fc36a5;
}
.gift-container__card.yellow {
  border-top: 1px solid #ffd500;
}
.gift-container__card.darkRed {
  border-top: 1px solid #e3000b;
}
.gift-container__card .cardInfo {
  display: flex;
  flex-direction: column;
  padding: 10rem;
  gap: 2rem;
  width: 100%;
}
.gift-container__card .cardInfo .cardTitle {
  font-size: 38px;
  font-weight: 400;
  line-height: 50px;
  width: 586px;
}
.gift-container__card .cardInfo .cardDesc {
  width: 586px;
}
.gift-container__card .cardImage img {
  width: 940px;
  height: 528px;
}
.gift-container__secondCard {
  display: flex;
}
.gift-container__secondCard.red {
  border-bottom: 1px solid #f3987a;
}
.gift-container__secondCard.green {
  border-bottom: 1px solid #00963e;
}
.gift-container__secondCard.blue {
  border-bottom: 1px solid #006cb7;
}
.gift-container__secondCard.gray {
  border-bottom: 1px solid #e0e0e0;
}
.gift-container__secondCard.dark {
  border-bottom: 1px solid #000000;
}
.gift-container__secondCard.pink {
  border-bottom: 1px solid #fc36a5;
}
.gift-container__secondCard.yellow {
  border-bottom: 1px solid #ffd500;
}
.gift-container__secondCard.darkRed {
  border-bottom: 1px solid #e3000b;
}
.gift-container__secondCard .cardInfo {
  text-align: end;
  display: flex;
  flex-direction: column;
  padding: 10rem 10rem 0 10rem;
  gap: 2rem;
  width: 100%;
}
.gift-container__secondCard .cardInfo .cardTitle {
  font-size: 38px;
  font-weight: 400;
  line-height: 50px;
  width: 586px;
}
.gift-container__secondCard .cardInfo .cardDesc {
  width: 586px;
}
.gift-container__secondCard button {
  align-self: end;
  margin-inline-end: 3rem;
}
.gift-container__secondCard .cardImage img {
  width: 940px;
  height: 100%;
}
@media screen and (max-width: 600px) {
  .gift-container {
    padding-block-start: 2rem;
  }
  .gift-container header {
    padding-inline: 0;
    flex-direction: column;
    align-items: unset;
  }
  .gift-container header .underline {
    margin-block: 10px;
  }
  .gift-container header .underline.red {
    border-top: 1px solid #f3987a;
  }
  .gift-container header .underline.green {
    border-top: 1px solid #00963e;
  }
  .gift-container header .underline.blue {
    border-top: 1px solid #006cb7;
  }
  .gift-container header .underline.gray {
    border-top: 1px solid #e0e0e0;
  }
  .gift-container header .underline.dark {
    border-top: 1px solid #000000;
  }
  .gift-container header .underline.pink {
    border-top: 1px solid #fc36a5;
  }
  .gift-container header .underline.yellow {
    border-top: 1px solid #ffd500;
  }
  .gift-container header .underline.darkRed {
    border-top: 1px solid #e3000b;
  }
  .gift-container header h1 {
    padding-inline-start: 1rem;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
  }
  .gift-container header p {
    text-align: end;
    padding-inline-end: 1rem;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    line-height: 20px;
  }
  .gift-container__card {
    padding-top: 1rem;
    flex-direction: column;
  }
  .gift-container__card.red, .gift-container__card.green, .gift-container__card.blue, .gift-container__card.gray, .gift-container__card.dark, .gift-container__card.pink, .gift-container__card.yellow, .gift-container__card.darkRed {
    border-top: none;
  }
  .gift-container__card.red .cardImage, .gift-container__card.green .cardImage, .gift-container__card.blue .cardImage, .gift-container__card.gray .cardImage, .gift-container__card.dark .cardImage, .gift-container__card.pink .cardImage, .gift-container__card.yellow .cardImage, .gift-container__card.darkRed .cardImage {
    width: 100%;
    height: 168px;
    -o-object-fit: cover;
       object-fit: cover;
    order: 1;
  }
  .gift-container__card.red .cardInfo, .gift-container__card.green .cardInfo, .gift-container__card.blue .cardInfo, .gift-container__card.gray .cardInfo, .gift-container__card.dark .cardInfo, .gift-container__card.pink .cardInfo, .gift-container__card.yellow .cardInfo, .gift-container__card.darkRed .cardInfo {
    padding-inline: 1rem;
    padding-block: 1rem;
    order: 2;
    gap: 0;
    text-align: unset;
    width: unset;
  }
  .gift-container__card.red .cardInfo .cardTitle, .gift-container__card.green .cardInfo .cardTitle, .gift-container__card.blue .cardInfo .cardTitle, .gift-container__card.gray .cardInfo .cardTitle, .gift-container__card.dark .cardInfo .cardTitle, .gift-container__card.pink .cardInfo .cardTitle, .gift-container__card.yellow .cardInfo .cardTitle, .gift-container__card.darkRed .cardInfo .cardTitle {
    font-size: 24px;
    font-weight: 400;
    width: unset;
  }
  .gift-container__card.red .cardInfo .cardDesc, .gift-container__card.green .cardInfo .cardDesc, .gift-container__card.blue .cardInfo .cardDesc, .gift-container__card.gray .cardInfo .cardDesc, .gift-container__card.dark .cardInfo .cardDesc, .gift-container__card.pink .cardInfo .cardDesc, .gift-container__card.yellow .cardInfo .cardDesc, .gift-container__card.darkRed .cardInfo .cardDesc {
    font-size: 18px;
    font-weight: 300;
    line-height: 33px;
    width: 100%;
    margin-block-end: 1rem;
  }
  .gift-container__secondCard {
    padding-top: 1rem;
    flex-direction: column;
  }
  .gift-container__secondCard.red, .gift-container__secondCard.green, .gift-container__secondCard.blue, .gift-container__secondCard.gray, .gift-container__secondCard.dark, .gift-container__secondCard.pink, .gift-container__secondCard.yellow, .gift-container__secondCard.darkRed {
    border-top: none;
  }
  .gift-container__secondCard.red .cardImage, .gift-container__secondCard.green .cardImage, .gift-container__secondCard.blue .cardImage, .gift-container__secondCard.gray .cardImage, .gift-container__secondCard.dark .cardImage, .gift-container__secondCard.pink .cardImage, .gift-container__secondCard.yellow .cardImage, .gift-container__secondCard.darkRed .cardImage {
    width: 100%;
    height: 168px;
    -o-object-fit: cover;
       object-fit: cover;
    order: 1;
  }
  .gift-container__secondCard.red .cardInfo, .gift-container__secondCard.green .cardInfo, .gift-container__secondCard.blue .cardInfo, .gift-container__secondCard.gray .cardInfo, .gift-container__secondCard.dark .cardInfo, .gift-container__secondCard.pink .cardInfo, .gift-container__secondCard.yellow .cardInfo, .gift-container__secondCard.darkRed .cardInfo {
    padding-inline: 1rem;
    padding-block: 1rem;
    order: 2;
    gap: 0;
    text-align: unset;
    width: unset;
  }
  .gift-container__secondCard.red .cardInfo .cardTitle, .gift-container__secondCard.green .cardInfo .cardTitle, .gift-container__secondCard.blue .cardInfo .cardTitle, .gift-container__secondCard.gray .cardInfo .cardTitle, .gift-container__secondCard.dark .cardInfo .cardTitle, .gift-container__secondCard.pink .cardInfo .cardTitle, .gift-container__secondCard.yellow .cardInfo .cardTitle, .gift-container__secondCard.darkRed .cardInfo .cardTitle {
    font-size: 24px;
    font-weight: 400;
    width: unset;
  }
  .gift-container__secondCard.red .cardInfo .cardDesc, .gift-container__secondCard.green .cardInfo .cardDesc, .gift-container__secondCard.blue .cardInfo .cardDesc, .gift-container__secondCard.gray .cardInfo .cardDesc, .gift-container__secondCard.dark .cardInfo .cardDesc, .gift-container__secondCard.pink .cardInfo .cardDesc, .gift-container__secondCard.yellow .cardInfo .cardDesc, .gift-container__secondCard.darkRed .cardInfo .cardDesc {
    font-size: 18px;
    font-weight: 300;
    line-height: 33px;
    width: 100%;
    margin-block-end: 1rem;
  }
  .gift-container__secondCard button {
    align-self: start;
  }
}

footer {
  border-top: 1px solid #ffffff;
  height: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  color: #808080;
  width: 567px;
}/*# sourceMappingURL=main.css.map */