/* Error: Undefined variable.
 *   ,
 * 5 |   $blue-xlight: #bbdcf5,
 *   |   ^^^^^^^^^^^^
 *   '
 *   src\styles\_variables.scss 5:3      @import
 *   src\styles\primary-button.scss 1:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 5 \2502    $blue-xlight: #bbdcf5,\d\a   \2502    ^^^^^^^^^^^^\a   \2575 \a   src\\styles\\_variables.scss 5:3      @import\a   src\\styles\\primary-button.scss 1:9  root stylesheet";
}
